body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  color: rgba(0, 0, 0, 0.15);
  font-weight: bold;
}
form {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
}

form #info input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.red {
  color: red;
}

.green {
  color: green;
}

#buttonList {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: aqua;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

#newB {
  background-color: darkgray;
}
