/* width, height */
/* px : 고정 크기  / % : 부모 기준 비율/ vw, h 뷰포트 너비, 높이 기준*/
#fixed-size {
  width: 300px;
  height: 150px;
  background-color: lightblue;
}

#variable-size {
  width: 80vw;
  height: 10vh;
  background-color: lightgreen;
}

/* padding, margin */
.space {
  background-color: lightyellow;
  border: 1px solid;
  margin-bottom: 10px;
}
#padding1 {
  padding: 20px;
}
#padding2 {
  /* 시계방향 */
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
  /* top right bottom left */
  padding: 30px 20px 40px 10px;
  /* top right/left botoom */
  padding: 30px 20px 40px;
  /* top/bottom right/left */
  padding: 30px 20px;
}

#margin1 {
  margin: 20px;
}
#margin2 {
  margin: 5px 15px 10px 30px;
}

/* margin collapse */
.collapse-box {
  background-color: lightcoral;
  padding: 10px;
  border: 1px solid #444;
}

#box1 {
  margin-bottom: 50px;
}
#box2 {
  margin-top: 30px;
}

/* margin: auto */
.center-box {
  width: 200px;
  height: 100px;
  line-height: 100px; /* height = line-height이면 수직 정렬*/
  background-color: lightseagreen;
  color: white;
  text-align: center;
  margin: auto;
}

/* border */
.border {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #eee;
  display: inline-block;
}

#border1 {
  /* solid : 실선 */
  border: 3px solid red;
}
#border2 {
  /* dashed : 점선 */
  border: 5px dashed green;
}
#border3 {
  /* dotted : 도트 */
  border: 2px dotted blue;
}

.radius-box {
  width: 120px;
  height: 120px;
  background-color: plum;
  color: white;
  text-align: center;
  line-height: 120px;
  margin-bottom: 10px;
}
.radius1 {
  border-radius: 10px;
}
.radius2 {
  border-radius: 50%;
}

/* box-sizing */
.box {
  width: 300px;
  height: 200px;
  border: 10px solid;
  background-color: lightcoral;
  padding: 20px;
  margin: 10px;
}
.box-content {
  /* 길이 + padding + border */
  box-sizing: content-box;
}
.box-border {
  /* 모두 포함해 300px 200px */
  box-sizing: border-box;
}

/* display */
.display {
  background-color: pink;
  padding: 10px;
  margin: 5px;
  width: 150px;
  height: 70px;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

/* float */
.float {
  width: 80px;
  height: 80px;
  margin: 5px;
  background-color: skyblue;
  text-align: center;
  line-height: 80px;
  float: left;
}

/* position */
#outer {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: #f4f4f4;
  overflow: auto;
}
.position-box {
  width: 100px;
  height: 100px;
}

#relative {
  /* 현재 본인의 위치에서 계산 */
  background-color: orange;
  position: relative;
  top: -10px;
  left: 50px;
  /* top, bottom, left, right */
}

#absolute {
  background-color: green;
  position: absolute;
  top: 0px;
  left: 0px;
}
#fixed {
  background-color: red;
  position: fixed;
  right: 20px;
  top: 30px;
}
#sticky {
  background-color: blue;
  position: sticky;
  top: 30px;
}

/* visibility */
.visibility {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: lightgray;
  display: inline-block;
}

#vis2 {
  visibility: visible;
}

#vis1 {
  visibility: hidden;
}
#dis1 {
  display: none;
}

#z-outer {
  width: 200px;
  height: 200px;
  background-color: #ddd;
  position: relative;
}

.z-index {
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 0.8;
}
#z-index1 {
  background-color: red;
  z-index: 3;
  top: 20px;
  left: 20px;
}
#z-index2 {
  background-color: green;
  z-index: 1;
  top: 40px;
  left: 40px;
}
#z-index3 {
  background-color: blue;
  z-index: 9999;
}
