/* Transition */
section {
  display: flex;
}
.box {
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
  line-height: 150px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  margin: auto;
}
.transition {
  background-color: cadetblue;
  /* transition: all 2s; */
  /* 속성 명시 */
  transition-property: all;
  /* 전환 시간 */
  transition-duration: 3s;
  /* 전환 속도 곡선 */
  transition-timing-function: ease-in-out;
  /* 변환 시간 지연 */
  transition-delay: 0.5s;

  /* transition: all 5s ease-in-out 1s; */
}
.transition:hover {
  background-color: coral;
  font-size: 2rem;
  transform: scale(1.5) rotate(18000deg);
  border-radius: 50%;
}

/* transform */

.transform-scale {
  background-color: chocolate;
}
.transform-scale:hover {
  /* scale : 크기 확대 */
  transform: scale(1.5);
}
.transform-rotate {
  background-color: darkmagenta;
}
.transform-rotate:hover {
  /* 회전 */
  transform: rotate(180deg);
}
.transform-translate {
  background-color: palegreen;
}
.transform-translate:hover {
  /* 이동(x,y) */
  transform: translate(40px, 20px);
}
.transform-skew {
  background-color: cornflowerblue;
  transition-duration: 0.1s;
}
.transform-skew:hover {
  transform: skew(40deg, 40deg);
}

@keyframes bounce {
  0% {
    transform: translate(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: translate(25px, 50px);
  }
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

/* Animation */
.animation-once {
  background-color: turquoise;
  /* animation: 애니메이션명 */
  animation: bounce 3s linear 1;
}
.animation-alternate {
  background-color: khaki;
  animation: bounce 1s ease-in-out infinite alternate;
}
.animation-reverse {
  background-color: navajowhite;
  animation: bounce 1s ease-in-out infinite reverse;
}
.animation-paused {
  background-color: midnightblue;
  animation: bounce2 2s linear infinite;
}
.animation-paused:hover {
  animation-play-state: paused;
}

/* 3D */
.perspective-container {
  perspective: 600px;
}
.perspective-container .box {
  transition: all 1s;
  transform-style: preserve-3d;
}

.perspective-container .box:hover {
  transform: rotateY(150deg);
}
